@import url(./css/forms.css);
@import url(./css/button.css);
html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: #f2f2f2;
  color: #010f1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
p {
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
a {
  color: inherit;
}

footer ul {
  display: flex;
  justify-content: space-between;
}
header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.4);
}
.header {
  display: flex;
  justify-content: space-between;
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero-wrap {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-images {
  display: flex;
}
.grey {
  color: #89909f;
  font-style: italic;
}

.rewies-list li {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.rewies--item-wrap {
  height: 100%;

  border-left: 2px dashed #89909f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  color: #89909f;
}
.rewies-name {
  width: 100%;
}
.rewies-name p {
  width: 100%;
  border-bottom: 1px solid #89909f;
}
footer {
  border-top: 1px solid #89909f;
}
/* 
MOBILE VERSION
*/

@media (max-width: 833px) {
  .container {
    max-width: 365px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .section {
    padding-top: 48px;
  }
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  nav > ul {
    display: flex;
    gap: 20px;
  }

  main {
    margin-top: 75px;
  }
  footer {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .img-ermol {
    max-width: 64px;
  }
  .marina {
    max-width: 207px;
    max-height: 57px;
  }
  .hero {
    gap: 8px;
  }
  .hero-text {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .hero-related {
    max-width: 75px;
    max-height: 36px;
  }
  .hero-inner {
    height: 57px;
  }
  .ermolaeva {
    max-width: 313px;
  }
  .krop {
    font-size: 4px;
    font-style: normal;
    font-weight: 550;
    line-height: 100%;
  }
  .photographer {
    width: 263px;
  }

  .photo {
    width: 148px;
  }
  .sessii {
    width: 127px;
    margin-left: 92px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  .photo-list,
  .rewies-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .photo-list li {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-weight: 500;
  }
  .rewies > img {
    width: 125px;
    margin-bottom: 20px;
  }

  .rewies-list li img {
    width: 62px;
  }
  .rewies-text {
    width: 210px;
  }
  .rewies--item-wrap {
    padding-left: 8px;
    font-size: 14px;
    width: 82px;
  }
}

/* 
MOBILE + DESCTOP VERSION
*/

@media (min-width: 834px) and (max-width: 1199px) {
}
/* 
DESCTOP VERSION
*/

@media (min-width: 1440px) {
  .container {
    width: 1280px;
  }
  .section {
    padding-top: 264px;
  }

  header {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  nav ul {
    display: flex;
    gap: 80px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #010f1d;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #5e4ae3;
    border-bottom: 1px solid #5e4ae3;
  }
  .nav-link:active {
    color: #70699b;
  }

  .hero {
    margin-top: 92px;
    gap: 28px;
  }

  .hero-inner {
    height: 201px;
  }
  .img-ermol {
    width: 222px;
  }
  .hero-text {
    width: 220px;
  }
  .hero-related {
    width: 266px;
    height: 128px;
    margin-left: 28px;
  }
  .krop {
    display: flex;
    flex-direction: column;

    line-height: 1;
  }

  .photosession {
    position: relative;
    height: 2271px;
  }
  .photosession-block {
    position: absolute;
  }
  .session {
    margin-left: 217px;
  }
  .photo-list {
    position: absolute;
    width: 100%;
    font-weight: 550;
  }
  .photo-list li {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .item-family {
    position: absolute;
    right: 0;
  }
  .img-family {
    width: 610px;
  }
  .item-blue-girl {
    position: absolute;
    top: 295px;
    left: 0;
  }
  .img-blue-girl,
  .img-november,
  .img-love {
    width: 414px;
  }
  .item-riverside {
    position: absolute;
    top: 704px;
    right: 325px;
  }
  .img-riverside,
  .img-gimnastic {
    width: 305px;
  }
  .item-gimnastic {
    position: absolute;
    top: 1079px;
    left: 217px;
  }
  .item-november {
    position: absolute;
    right: 109px;
    top: 1342px;
  }
  .item-love {
    position: absolute;
    top: 1719px;
    left: 217px;
  }
  .rewies {
    position: relative;
    height: 605px;
  }
  .rewies-list {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .rewies-list li {
    display: flex;
    gap: 16px;
    padding: 28px;
    width: 413px;
    height: 250px;

    font-style: italic;
    background-color: #ffffff;
  }
  .rewies-text {
    width: 250px;
    padding-top: 50px;

    font-size: 26px;
  }
  .rewies--item-wrap {
    padding-left: 16px;

    font-size: 16px;
  }
  .rewies-img {
    width: 62px;
  }

  .item-vika {
    position: absolute;
    top: 0;
    right: 217px;
  }
  .item-sergiy {
    position: absolute;
    top: 355px;
    left: 108px;
  }
  .item-anastasia {
    position: absolute;
    top: 355px;
    right: 108px;
  }

  footer {
    margin-top: 128px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
