html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: #f2f2f2;
  color: #010f1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
img {
  display: inline-block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
p {
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
a {
  color: inherit;
}
button {
  position: absolute;
  z-index: 2;
  border: none;
  display: block;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;

  color: #ffffff;
  background-color: transparent;
}
footer ul {
  display: flex;
  justify-content: space-between;
}
header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.4);
}
.header {
  display: flex;
  justify-content: space-between;
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero-wrap {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grey {
  color: #89909f;
}
.button-click {
  position: relative;
  display: flex;
  align-items: center;

  border-radius: 400px;

  color: #ffffff;
  background-color: #5e4ae3;
}
.button-link:hover .button-click,
.button-link:focus .button-click,
button:hover + .btn-form,
button:focus + .btn-form {
  background-color: #7b6ed3;
}
.button-link:active .button-click {
  overflow: hidden;
}
.btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #5e4ae3;
  background-color: #ffffff;
  border-radius: 50%;
}

/* 
MOBILE VERSION
*/

@media screen and (max-width: 833px) {
  .container {
    max-width: 365px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .section {
    padding-top: 48px;
  }
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  nav > ul {
    display: flex;
    gap: 20px;
  }

  main {
    margin-top: 75px;
  }
  footer {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .img-ermol {
    max-width: 66px;
  }
  .marina {
    max-width: 209px;
    max-height: 57px;
  }
  .hero {
    gap: 8px;
  }
  .hero-text {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .hero-related {
    max-width: 75px;
    max-height: 36px;
  }
  .hero-inner {
    height: 57px;
  }
  .ermolaeva {
    max-width: 319px;
  }
  .krop {
    font-size: 4px;
    font-style: normal;
    font-weight: 550;
    line-height: 100%;
  }
  .photographer {
    width: 266px;
  }
  .button-click {
    padding-right: 6px;
    padding-left: 6px;
    gap: 9px;
    width: 84px;
    height: 37px;
    font-size: 6px;
  }
  .button-link:active .button-click {
    padding-left: 51px;
  }
  .btn-arrow {
    width: 29px;
    height: 29px;
    padding: 6px;
  }
}

/* 
MOBILE + DESCTOP VERSION
*/

@media screen and (max-width: 1199px) {
}
/* 
DESCTOP VERSION
*/

@media screen and (min-width: 1440px) {
  .nav-btn {
    display: none;
  }
  .container {
    width: 1280px;
  }
  .section {
    padding-top: 264px;
  }
  .btn-submit {
    position: relative;
  }
  button {
    position: absolute;
    z-index: 2;
    border: none;
    display: block;

    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
    gap: 16px;
    width: 305px;
    height: 134px;
    padding-left: 16px;
    border-radius: 400px;

    color: #ffffff;
    background-color: transparent;
  }

  .btn-form {
    height: 134px;
    position: absolute;
    width: 305px;

    background-color: #5e4ae3;
    border-radius: 400px;
  }
  .icon-arrow {
    width: 54px;
    fill: currentColor;
  }
  .block-arrow {
    width: 100px;
    height: 100px;
    padding: 23px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #5e4ae3;
    background-color: #ffffff;
    border-radius: 50%;
  }
  button:active {
    padding-left: 189px;
    overflow: hidden;
    columns: #5e4ae3;
  }

  .btn-arrow {
    width: 100px;
    height: 100px;
    padding: 23px;
  }
  .button-click {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
    padding-left: 16px;
    width: 305px;
    height: 134px;

    border-radius: 400px;

    color: #ffffff;
    background-color: #5e4ae3;
  }

  .button-link:active .button-click {
    padding-left: 189px;
  }

  header {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  nav ul {
    display: flex;
    gap: 80px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #010f1d;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #5e4ae3;
    border-bottom: 1px solid #5e4ae3;
  }
  .nav-link:active {
    color: #70699b;
  }

  .hero {
    margin-top: 92px;
    gap: 28px;
  }

  .hero-inner {
    height: 201px;
  }
  .img-ermol {
    width: 222px;
  }
  .hero-text {
    width: 220px;
  }
  .hero-related {
    width: 266px;
    height: 128px;
    margin-left: 28px;
  }
  .krop {
    display: flex;
    flex-direction: column;

    line-height: 1;
  }

  .photosession {
    position: relative;
    height: 2271px;
  }
  .photosession-block {
    position: absolute;
  }
  .session {
    margin-left: 217px;
  }
  .photo-list {
    position: absolute;
    width: 100%;
    font-weight: 550;
  }
  .photo-list li {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .item-family {
    position: absolute;
    right: 0;
  }
  .img-family {
    width: 610px;
  }
  .item-blue-girl {
    position: absolute;
    top: 295px;
    left: 0;
  }
  .img-blue-girl,
  .img-november,
  .img-love {
    width: 414px;
  }
  .item-riverside {
    position: absolute;
    top: 704px;
    right: 325px;
  }
  .img-riverside,
  .img-gimnastic {
    width: 305px;
  }
  .item-gimnastic {
    position: absolute;
    top: 1079px;
    left: 217px;
  }
  .item-november {
    position: absolute;
    right: 109px;
    top: 1342px;
  }
  .item-love {
    position: absolute;
    top: 1719px;
    left: 217px;
  }
  .rewies {
    position: relative;
    height: 605px;
  }
  .rewies-list {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .rewies-list li {
    display: flex;
    gap: 16px;
    padding: 28px;
    width: 413px;
    height: 250px;

    font-style: italic;
    background-color: #ffffff;
  }
  .rewies-text {
    width: 250px;
    padding-top: 50px;

    font-size: 26px;
  }
  .rewies--item-wrap {
    height: 100%;

    padding-left: 16px;
    border-left: 2px dashed #89909f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    font-size: 16px;
    color: #89909f;
  }
  .rewies-img {
    width: 62px;
  }
  .rewies-name {
    width: 100%;
  }
  .rewies-name p {
    width: 100%;
    border-bottom: 1px solid #89909f;
  }
  .item-vika {
    position: absolute;
    top: 0;
    right: 217px;
  }
  .item-sergiy {
    position: absolute;
    top: 355px;
    left: 108px;
  }
  .item-anastasia {
    position: absolute;
    top: 355px;
    right: 108px;
  }
  .girl-form {
    width: 120px;
  }
  .family-form {
    width: 219px;
  }
  .inner {
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 129px;
    font-weight: 550;
    line-height: 1.5;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    width: 630px;
  }
  form div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  input {
    padding: 10px;
    width: 305px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #89909f;
    background: #f2f2f2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
  textarea {
    width: 630px;
    height: 80px;

    padding: 10px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

    border-radius: 4px;
    border: 1px solid #89909f;
    background: #f2f2f2;
  }
  .mesangers-list {
    position: relative;
    width: 425px;
  }
  .mesangers-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 89px;

    color: #5e4ae3;

    border-radius: 50%;
    background-color: #ffffff;
  }
  .mesangers-list a:hover {
    color: #ffffff;
    background-color: #5e4ae3;
  }
  .telegram {
    position: absolute;
    top: 0;
    right: 324px;
  }
  .insta {
    position: absolute;
    top: 0;
    right: 108px;
  }
  .facebook {
    position: absolute;
    top: 149px;
    right: 216px;
  }
  footer {
    margin-top: 128px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 1px solid #89909f;
  }

  .icon {
    width: 32px;
    fill: currentColor;
  }
}
